<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Datum</th>
            <th>Course Type</th>
            <th>Status</th>
            <th>Teams</th>
            <th>Courses</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="battle in battles">
            <td>{{battle.createdAt | date:'short'}}</td>
            <td>{{battle.courseType | courseType}}
            <td>
                <span ng-show="battle.open" class="label label-success">Offen</span>
                <span ng-show="!battle.open" class="label label-danger">Abgeschlossen</span>
            </td>
            <td>{{battle.courseOne.teamName}} vs {{battle.courseTwo.teamName}}</td>
            <td>{{battle.courseOne.courseName}} - {{battle.courseTwo.courseName}}</td>
            <td>
                <button type="button" class="btn btn-default" ng-click="onSelect({battle: battle})">
                    Select
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>