<h1>{{courseBattleVoting.battle.courseType | courseType }} Battle</h1>

<div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th class="col-md-6">
                <div class="text-center">
                    <h1>{{courseBattleVoting.courseOne.name}}</h1>
                </div>
            </th>
            <th class="col-md-6">
                <div class="text-center">
                    <h1>{{courseBattleVoting.courseTwo.name}}</h1>
                </div>
            </th>
        </tr>
        </thead>
        <tr>
            <td>
                <div class="text-center">
                    <p class="lead text-muted">{{courseBattleVoting.courseOne.description}}</p>
                </div>
            </td>
            <td>
                <div class="text-center">
                    <p class="lead text-muted">{{courseBattleVoting.courseTwo.description}}</p>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <carousel>
                    <slide ng-repeat="courseVariant in courseBattleVoting.courseOne.courseVariants">
                        <img ng-src="{{courseVariant.imageUrl}}"
                             ng-click="courseBattleVoting.voteCourse(courseBattleVoting.courseOne.courseId)">

                        <div class="carousel-caption">
                            <h4>Image Number: {{$index+1}} - Variant: {{courseVariant.value}}</h4>
                        </div>
                    </slide>
                </carousel>
            </td>
            <td>
                <carousel>
                    <slide ng-repeat="courseVariant in courseBattleVoting.courseTwo.courseVariants">
                        <img ng-src="{{courseVariant.imageUrl}}"
                             ng-click="courseBattleVoting.voteCourse(courseBattleVoting.courseTwo.courseId)">

                        <div class="carousel-caption">
                            <h4>Image Number: {{$index+1}} - Variant: {{courseVariant.value}}</h4>
                        </div>
                    </slide>
                </carousel>
            </td>
        </tr>
    </table>
</div>


