<h1>Show Battle Results</h1>

<button class="btn btn-default" ng-controller="fullscreenCtrl as fullscreenCtrl"
        ng-click="fullscreenCtrl.goFullscreen()">
    <span class="glyphicon glyphicon-screenshot"></span> Go Fullscreen
</button>

<button class="btn btn-default" ng-click="courseBattleResultCtrl.toggleAnonymousVoting()" tooltip-html-unsafe="<kbd><kbd>shift</kbd> + <kbd>a</kbd></kbd>">
    <span class="glyphicon"
          ng-class="courseBattleResultCtrl.anonymousVoting ? 'glyphicon-eye-open' : ' glyphicon-eye-close'"></span>
    <span ng-hide="courseBattleResultCtrl.anonymousVoting">Anonymous Voting On</span>
    <span ng-show="courseBattleResultCtrl.anonymousVoting">Anonymous Voting Off</span>
</button>

<div id="fullscreen" class="container-full col-xs-12" ng-if="courseBattleResultCtrl.votingResult">

    <div class="row">
        <div class="col-xs-12">
            <div ng-if="courseBattleResultCtrl.fullscreen.isEnabled()"
                 full-screen-header
                 event="courseBattleResultCtrl.selectedEvent">
                <h2>
                    {{courseBattleResultCtrl.votingResult.courseOne.teamName}} vs.
                    {{courseBattleResultCtrl.votingResult.courseTwo.teamName}}
                </h2>

                <h3>
                    {{courseBattleResultCtrl.votingResult.courseType | courseType}}
                </h3>
            </div>
        </div>
    </div>

    <div class="row">
        <h2>
            <span ng-hide="courseBattleResultCtrl.anonymousVoting">
                {{courseBattleResultCtrl.votingResult.courseOne.courseName}}  von {{courseBattleResultCtrl.votingResult.courseOne.teamName}}
            </span>
            <span ng-show="courseBattleResultCtrl.anonymousVoting">
                Team Anonymisiert
            </span>
        </h2>

        <div class="row">
            <div class="col-xs-3">
                <img ng-hide="courseBattleResultCtrl.anonymousVoting"
                     ng-src="{{courseBattleResultCtrl.votingResult.courseOne.imageUrl}}" class="img-responsive">

                <div ng-show="courseBattleResultCtrl.anonymousVoting" class="jumbotron" style="height: 200px"><h1>
                    ???</h1></div>
            </div>
            <div class="col-xs-7 col-xs-offset-1">
                <div class="text-info text-center h3">Votes:
                    {{courseBattleResultCtrl.votingResult.courseOne.totalGuestVotes}}
                    ({{courseBattleResultCtrl.votingResult.courseOne.percentGuestCount | number:2}}%)
                </div>
                <progressbar class="progress-striped active"
                             value="courseBattleResultCtrl.votingResult.courseOne.percentGuestCount">
                </progressbar>
            </div>
        </div>
    </div>
    <div class="row" style="font-size: x-large">
        <h2>
            <span ng-hide="courseBattleResultCtrl.anonymousVoting">
            {{courseBattleResultCtrl.votingResult.courseTwo.courseName}} von {{courseBattleResultCtrl.votingResult.courseTwo.teamName}}
            </span>
            <span ng-show="courseBattleResultCtrl.anonymousVoting">
                Team Anonymisiert
            </span>
        </h2>

        <div class="row">
            <div class="col-xs-3">
                <img ng-hide="courseBattleResultCtrl.anonymousVoting"
                     ng-src="{{courseBattleResultCtrl.votingResult.courseTwo.imageUrl}}" class="img-responsive">

                <div ng-show="courseBattleResultCtrl.anonymousVoting" class="jumbotron" style="height: 200px"><h1>
                    ???</h1></div>
            </div>
            <div class="col-xs-7 col-xs-offset-1">
                <div class="text-info text-center h3">Votes:
                    {{courseBattleResultCtrl.votingResult.courseTwo.totalGuestVotes}}
                    ({{courseBattleResultCtrl.votingResult.courseTwo.percentGuestCount | number:2}}%)
                </div>
                <progressbar class="progress-striped active"
                             value="courseBattleResultCtrl.votingResult.courseTwo.percentGuestCount">
                </progressbar>
            </div>
        </div>
    </div>
</div>