<h1>Show Battle Results</h1>

<button class="btn btn-default" ng-controller="fullscreenCtrl as fullscreenCtrl"
        ng-click="fullscreenCtrl.goFullscreen()">
    <span class="glyphicon glyphicon-screenshot"></span> Go Fullscreen
</button>

Auto-Refresh: <input type="checkbox" ng-model="courseBattleResultCtrl.autoRefresh">

<div id="fullscreen" class="container-full" ng-if="courseBattleResultCtrl.votingResult" >

    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-12">
                <h2>
                    {{courseBattleResultCtrl.votingResult.courseOne.courseName}}
                    <a href="" ng-click="courseBattleResultCtrl.showTeamInfo = !courseBattleResultCtrl.showTeamInfo">
                        <small ng-show="courseBattleResultCtrl.showTeamInfo">
                            {{courseBattleResultCtrl.votingResult.courseOne.teamName}}
                        </small>
                        <span ng-hide="courseBattleResultCtrl.showTeamInfo">???</span>
                    </a>
                </h2>
            </div>
            <div class="row">
                <div class="col-xs-3">
                    <img ng-src="{{courseBattleResultCtrl.votingResult.courseOne.imageUrl}}" class="img-responsive">
                </div>
                <div class="col-xs-9">
                    <progressbar class="progress-striped active"
                                 value="courseBattleResultCtrl.votingResult.courseOne.percentGuestCount">
                        <span>Votes: {{courseBattleResultCtrl.votingResult.courseOne.totalGuestVotes}} ({{courseBattleResultCtrl.votingResult.courseOne.percentGuestCount | number:2}}%)</span>
                    </progressbar>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h2>
                    {{courseBattleResultCtrl.votingResult.courseTwo.courseName}}
                    <a href="" ng-click="courseBattleResultCtrl.showTeamInfo = !courseBattleResultCtrl.showTeamInfo">
                        <small ng-show="courseBattleResultCtrl.showTeamInfo">
                            {{courseBattleResultCtrl.votingResult.courseTwo.teamName}}
                        </small>
                        <span ng-hide="courseBattleResultCtrl.showTeamInfo">???</span>
                    </a>
                </h2>
            </div>
            <div class="row">
                <div class="col-xs-3">
                    <img ng-src="{{courseBattleResultCtrl.votingResult.courseTwo.imageUrl}}" class="img-responsive">
                </div>
                <div class="col-xs-9">
                    <progressbar class="progress-striped active"
                                 value="courseBattleResultCtrl.votingResult.courseTwo.percentGuestCount">
                        <span>Votes: {{courseBattleResultCtrl.votingResult.courseTwo.totalGuestVotes}} ({{courseBattleResultCtrl.votingResult.courseTwo.percentGuestCount | number:2}}%)</span>
                    </progressbar>
                </div>
            </div>
        </div>
    </div>
</div>