<h1>Show Battle Results</h1>

<button class="btn btn-default" ng-controller="fullscreenCtrl as fullscreenCtrl"
        ng-click="fullscreenCtrl.goFullscreen()">
    <span class="glyphicon glyphicon-screenshot"></span> Go Fullscreen
</button>

Auto-Refresh: <input type="checkbox" ng-model="courseBattleResultCtrl.autoRefresh">

<div id="fullscreen" class="container-full col-xs-12" ng-if="courseBattleResultCtrl.votingResult">
    <div class="col-xs-12">
            <div ng-if="courseBattleResultCtrl.fullscreen.isEnabled()" full-screen-header event="courseBattleResultCtrl.selectedEvent">
                <h2>
                    {{courseBattleResultCtrl.votingResult.courseType | courseType}}
                    Ergebniss
                </h2>
            </div>
        </div>

        <div class="row">
            <h2>
                {{courseBattleResultCtrl.votingResult.courseOne.courseName}}
                <a href="" ng-click="courseBattleResultCtrl.showTeamInfo = !courseBattleResultCtrl.showTeamInfo">
                    <span ng-show="courseBattleResultCtrl.showTeamInfo">
                       von {{courseBattleResultCtrl.votingResult.courseOne.teamName}}
                    </span>
                    <span ng-hide="courseBattleResultCtrl.showTeamInfo">???</span>
                </a>
            </h2>

            <div class="row">
                <div class="col-xs-3">
                    <img ng-src="{{courseBattleResultCtrl.votingResult.courseOne.imageUrl}}" class="img-responsive">
                </div>
                <div class="col-xs-9">
                    <div class="text-info text-center h3">Votes:
                        {{courseBattleResultCtrl.votingResult.courseOne.totalGuestVotes}}
                        ({{courseBattleResultCtrl.votingResult.courseOne.percentGuestCount | number:2}}%)
                    </div>
                    <progressbar class="progress-striped active"
                                 value="courseBattleResultCtrl.votingResult.courseOne.percentGuestCount">
                    </progressbar>
                </div>
            </div>
        </div>
        <div class="row">
            <h2>
                {{courseBattleResultCtrl.votingResult.courseTwo.courseName}}
                <a href="" ng-click="courseBattleResultCtrl.showTeamInfo = !courseBattleResultCtrl.showTeamInfo">
                    <span ng-show="courseBattleResultCtrl.showTeamInfo">
                       von {{courseBattleResultCtrl.votingResult.courseTwo.teamName}}
                    </span>
                    <span ng-hide="courseBattleResultCtrl.showTeamInfo">???</span>
                </a>
            </h2>

            <div class="row">
                <div class="col-xs-3">
                    <img ng-src="{{courseBattleResultCtrl.votingResult.courseTwo.imageUrl}}" class="img-responsive">
                </div>
                <div class="col-xs-9">
                    <div class="text-info text-center h3">Votes:
                        {{courseBattleResultCtrl.votingResult.courseTwo.totalGuestVotes}}
                        ({{courseBattleResultCtrl.votingResult.courseTwo.percentGuestCount | number:2}}%)
                    </div>
                    <progressbar class="progress-striped active"
                                 value="courseBattleResultCtrl.votingResult.courseTwo.percentGuestCount">
                    </progressbar>
                </div>
            </div>
        </div>
    </div>
</div>