<div ng-form="courseInnerForm">
    <div class="form-group" ng-class="{'has-error': courseInnerForm.courseType.$invalid}">
        <label class="col-md-4 control-label" for="courseType">Course Type</label>
        <div class="col-md-4">
            <select id="courseType"
                    name="courseType"
                    required
                    class="form-control"
                    ng-model="course.courseType">
                <option value="STARTER">{{'STARTER' | courseType}}</option>
                <option value="MAIN">{{'MAIN' | courseType}}</option>
                <option value="DESSERT">{{'DESSERT' | courseType}}</option>
            </select>
            <span class="help-block"></span>
        </div>
    </div>
    <!-- Text input-->
    <div class="form-group" ng-class="{'has-error': courseInnerForm.courseName.$invalid}">
        <label class="col-md-4 control-label" for="textinput">Course Name</label>
        <div class="col-md-4">
            <input id="textinput"
                   name="courseName"
                   ng-model="course.name"
                   type="text"
                   required
                   class="form-control input-md">
            <span class="help-block"></span>
        </div>
    </div>

    <!-- Textarea -->
    <div class="form-group">
        <label class="col-md-4 control-label" for="textarea">Course Description</label>

        <div class="col-md-4">
            <textarea class="form-control" id="textarea" name="courseDescription" required
                      ng-model="course.description">Course Description</textarea>
        </div>
    </div>
</div>
