<div class="row page-header">
    <div class="col-md-6">
        <span class="h1">Manage Courses</span>
    </div>
    <div class="col-md-6">
        <button type="button" class="btn btn-primary pull-right"
                ng-click="coursesCtrl.toogleNewCourseForm()">
            <span class="glyphicon glyphicon-plus"></span>
            Create New Course
        </button>
    </div>
</div>

<div class="spacer20"></div>

<div class="row" ng-show="coursesCtrl.showCreateCourseForm">
    <div class="panel panel-default" ng-show="coursesCtrl.showCreateCourseForm">
        <!-- Default panel contents -->
        <div class="panel-heading">Create New Course</div>
        <div class="panel-body">
            <form class="form-horizontal" name="createNewCourseForm" novalidate>

                <course-form course="coursesCtrl.newCourse" teams="coursesCtrl.teams"></course-form>

                <!-- Button -->
                <div class="form-group">
                    <div class="col-md-4 control-label"></div>
                    <div class="col-md-4">
                        <button name="cancelButton" class="btn btn-default"
                                ng-click="coursesCtrl.toogleNewCourseForm()">
                            Cancel
                        </button>
                        <button name="saveButton" class="btn btn-primary"
                                ng-disabled="createNewCourseForm.$invalid"
                                ng-click="coursesCtrl.saveCourse()">
                            Save New Course
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>


</div>

<div class="row" ng-repeat="team in coursesCtrl.teams">
    <h2>{{team.name}}</h2>

    <div ng-show="{{(coursesCtrl.courses | filter:{'teamId':team.teamId}).length == 0}}">
        No Courses found for this Team
    </div>
    <div class="table-responsive" ng-show="{{(coursesCtrl.courses | filter:{'teamId':team.teamId}).length > 0}}">
        <table class="table table-striped">
            <thead>
            <tr>
                <th class="col-xs-1">Course Typ</th>
                <th class="col-xs-3">Course Name</th>
                <th class="col-xs-4">Course Description</th>
                <th class="col-xs-3">Course Images</th>
                <th class="col-xs-1">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="course in coursesCtrl.courses | filter:{'teamId':team.teamId}">
                <td>{{course.courseType | courseType}}</td>
                <td>{{course.name}}</td>
                <td>{{course.description}}</td>
                <td>
                    <div ng-repeat="variant in course.courseVariants">
                        <span>{{variant.value}}</span>
                        <img ng-src="{{variant.imageUrl}}"
                             width="60"
                             height="60"
                             alt="{{variant.value}}"
                             class="img-responsive img-rounded">
                    </div>
                </td>
                <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            Action <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="" ng-click="coursesCtrl.deleteCourse(course)">Delete</a></li>
                            <li><a href="" ng-click="coursesCtrl.editCourse(course)">Edit</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


