<h1>Show Battle Results</h1>

Auto-Refresh: <input type="checkbox" ng-model="courseBattleResultCtrl.autoRefresh">

<div class="container-full" ng-if="courseBattleResultCtrl.votingResult" fullscreen>

    <h2>{{courseBattleResultCtrl.votingResult.courseOne.courseName}} -
        {{courseBattleResultCtrl.votingResult.courseOne.teamName}}</h2>

    <div class="row">
        <div class="col-md-3">
            <img ng-src="{{courseBattleResultCtrl.votingResult.courseOne.imageUrl}}" class="img-responsive">
        </div>
        <div class="col-md-9">
            <progressbar class="progress-striped active"
                         value="courseBattleResultCtrl.votingResult.courseOne.percentGuestCount">
                <span>Votes: {{courseBattleResultCtrl.votingResult.courseOne.totalGuestVotes}} ({{courseBattleResultCtrl.votingResult.courseOne.percentGuestCount | number:2}}%)</span>
            </progressbar>
        </div>
    </div>

    <h2>{{courseBattleResultCtrl.votingResult.courseTwo.courseName}} -
        {{courseBattleResultCtrl.votingResult.courseTwo.teamName}}</h2>

    <div class="row">
        <div class="col-md-3">
            <img ng-src="{{courseBattleResultCtrl.votingResult.courseTwo.imageUrl}}" class="img-responsive">
        </div>
        <div class="col-md-9">
            <progressbar class="progress-striped active"
                         value="courseBattleResultCtrl.votingResult.courseTwo.percentGuestCount">
                <span>Votes: {{courseBattleResultCtrl.votingResult.courseTwo.totalGuestVotes}} ({{courseBattleResultCtrl.votingResult.courseTwo.percentGuestCount | number:2}}%)</span>
            </progressbar>
        </div>
    </div>
</div>